- content_for :page_title do
  %title
    = @project.company
    | Lacey Laughter UX Designer & Researcher
- content_for :keywords do
  %meta{name: 'keywords', content: ''}
- content_for :description do
  %meta{name: 'description', content: ''}

#project-overview
  .container-fluid
    .row
      .col-md-8.col-md-offset-2
        #company= @project.company
        #website-type= @project.website_type
        #role
          Role:
          = @project.role
        #challenge-title The Challenge
        #challenge-content= @project.challenge

#project-overview-divider

- @project.content_modules.each do |content_module|
  %p= content_module.title
  - content_module.photos.each do |photo|
    = image_tag(photo.photo.url(:medium), class: 'img-responsive')