!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    = yield :page_title
    = yield :keywords
    = yield :description
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title Laceylaughter
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{data: {spy: 'scroll', target: '#navbar-collapse'}}
    - if current_page?(home_path)
      = render 'layouts/partials/header'
    - else
      = render 'layouts/partials/project_header'
    #page
      = render 'layouts/partials/flash'
      = yield
    = render 'layouts/partials/footer'
